* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Gilroy Regular', sans-serif;
    font-style: normal;
    color: #000000;
    font-size: 16px;
    line-height: 32px;
    background-color: #fff;
}



.title {
    max-width: 884px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 884px;
    margin: 30px auto;
}

.section__text {
    margin-bottom: 56px;
}

input {
    padding-left: 15px;
    outline: none;
    width: 100%;
    height: 56px;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}


.button__basket {
    text-align: center;
    transition: .4s;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 0 9px;
    margin: 5px;
    text-decoration: none;
    color: #0066CC;;
    line-height: 32px;
    white-space: nowrap;
    background: rgba(0, 102, 204, 0.1);
    border-radius: 4px;

    &:hover {
        transition: .4s;
        color: #fff;
        background: rgba(0, 102, 204);
}

    &_transparent {
        color: #0066CC;
        background: rgba(0, 102, 204, 0.1);
    }     
}

.order__submit {
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 1.2px;
    font-size: 14px;
    width: 192px;
    height: 56px;
    background-color: #0066CC;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


.section {
    max-width: 884px;
    margin: 30px auto;

    &__text {
        margin-bottom: 56px;
    }

    &__title {
        margin-bottom: 9px;
        padding-left: 10px;
        font-size: 48px;
        line-height: 64px;
    }
}

.hide {
    display: none;
}

$primary:#0066CC;
$white:#FFFFFF;
$stroke:#E1E1E1;
$red:#DC3545;
$backround:#F5F5F7;

