<section class="section">
    <h2 class="section__title">Галерея</h2>
        <p class="section_text">Фильтры должны фильтровать изображения без перезагрузки. Адаптивность: между реперными точками — пропорциональное масштабирование, далее уменьшение кол-ва фото в строке. Пролистывание должно быть по 8 фото (страницами) для дектопа, по 4 фото на мобилке. Стрелки появляются только при наведении на блок с фото.  
        </p>
        <div class="gallery">
            <ul class="gallery__menu">
                <li><a class="button__gallery bath" href="#">Бани</a></li>
                <li><a class="button__gallery sauna" href="#">Сауны</a></li>
                <li><a class="button__gallery hammams" href="#">Хаммамы</a></li>
                <li><a class="button__gallery swim" href="#">Бассейн</a></li>
            </ul>
        </div>
        <!-- Slider main container -->

    </section>

<div class="slider">
    <div class="slider-wrapper">
        <div id="slick">
            <!-- Бани -->
            <div class="slide-item"><img class="img__slide" src="./img/image_30.jpg" alt="image_30"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_46.jpg" alt="image_46"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_37.jpg" alt="image_37"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_45.jpg" alt="image_45"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_49.jpg" alt="image_49"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_39.jpg" alt="image_39"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_38.jpg" alt="image_38"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_28.jpg" alt="image_28"></div>
            <!-- Сауны -->
            <div class="slide-item"><img class="img__slide" src="./img/image_sauna_1.jpg" alt="image_sauna_1"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_sauna_2.jpg" alt="image_46"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_sauna_3.jpg" alt="image_37"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_sauna_4.jpg" alt="image_45"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_49.jpg" alt="image_49"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_39.jpg" alt="image_39"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_38.jpg" alt="image_38"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_28.jpg" alt="image_28"></div>
            <!-- Хаммамы -->
            <div class="slide-item"><img class="img__slide" src="./img/image_30.jpg" alt="image_30"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_46.jpg" alt="image_46"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_37.jpg" alt="image_37"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_45.jpg" alt="image_45"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_49.jpg" alt="image_49"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_39.jpg" alt="image_39"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_38.jpg" alt="image_38"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_28.jpg" alt="image_28"></div>
            <!-- Бассейн -->
            <div class="slide-item"><img class="img__slide" src="./img/image_30.jpg" alt="image_30"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_46.jpg" alt="image_46"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_37.jpg" alt="image_37"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_45.jpg" alt="image_45"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_49.jpg" alt="image_49"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_39.jpg" alt="image_39"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_38.jpg" alt="image_38"></div>
            <div class="slide-item"><img class="img__slide" src="./img/image_28.jpg" alt="image_28"></div>
          </div>
      </div>
</div>