
<section class="section gallery">
    <div class="container">
        <h2 class="section__title">Галерея</h2>
        <p class="section__text">Фильтры должны фильтровать изображения без перезагрузки. Адаптивность: между реперными точками — пропорциональное масштабирование, далее уменьшение кол-ва фото в строке. Пролистывание должно быть по 8 фото (страницами) для дектопа, по 4 фото на мобилке. Стрелки появляются только при наведении на блок с фото.</p>
        <div class="gallery__header">
            <ul class="gallery__menu">
                <li><a data-filter-heading="category-1" class="gallery__button gallery__button_bath" href="#">Бани</a></li>
                <li><a data-filter-heading="category-2" class="gallery__button gallery__button_sauna" href="#">Сауны</a></li>
                <li><a data-filter-heading="category-3" class="gallery__button gallery__button_hammams" href="#">Хаммамы</a></li>
                <li><a data-filter-heading="category-4" class="gallery__button gallery__button_swim" href="#">Бассейн</a></li>
            </ul>
        </div>
    </div>
    <div class="js-slider slider">

        <div class="slider__item category-1">
            <span class="slider__image" style="background-image: url(./img/image_bath_1.jpg);"></span>
        </div>
        <div class="slider__item category-1">
            <span class="slider__image" style="background-image: url(./img/image_bath_2.jpg);"></span>
        </div>
        <div class="slider__item category-2">
            <span class="slider__image" style="background-image: url(./img/image_bath_3.jpg);"></span>
        </div>
        <div class="slider__item category-2">
            <span class="slider__image" style="background-image: url(./img/image_bath_4.jpg);"></span>
        </div>
        <div class="slider__item category-3">
            <span class="slider__image" style="background-image: url(./img/image_bath_1.jpg);"></span>
        </div>
        <div class="slider__item category-3">
            <span class="slider__image" style="background-image: url(./img/image_bath_2.jpg);"></span>
        </div>
        <div class="slider__item category-3">
            <span class="slider__image" style="background-image: url(./img/image_bath_2.jpg);"></span>
        </div>
        <div class="slider__item category-3">
            <span class="slider__image" style="background-image: url(./img/image_bath_2.jpg);"></span>
        </div>
        <div class="slider__item category-3">
            <span class="slider__image" style="background-image: url(./img/image_bath_2.jpg);"></span>
        </div>
        <div class="slider__item category-3">
            <span class="slider__image" style="background-image: url(./img/image_bath_2.jpg);"></span>
        </div>
        <div class="slider__item category-4">
            <span class="slider__image" style="background-image: url(./img/image_bath_3.jpg);"></span>
        </div>
        <div class="slider__item category-4">
            <span class="slider__image" style="background-image: url(./img/image_bath_4.jpg);"></span>
        </div>
    </div>
    <div class="gallery__footer"></div>
</section>

