<header class="header">
    <ul class="header__menu">
        <li><a class="header__link" href="#table">Таблица</a></li>
        <li><a class="header__link" href="#order">Форма</a></li>
        <li><a class="header__link" href="#gallery">Галарея</a></li>
    </ul>
</header>

<section class="section">
    <div class="container">
        <nav class="breadcrumb"> 
            <ul class="breadcrumb__menu">
            <li><a class="breadcrumb__link" href="#">Главная</a></li>
            <li><a class="breadcrumb__link" href="#">Тестовое задание</a></li>
        </ul>
        </nav>
            <h1 class="section__title-center">Тестовое задание</h1>
    </div>
</section>





