<section class="section table-wrapper">
    <div class="container">
        <h2 class="section__title">Таблица</h2>
        <p class="section__text">Должна быть адаптивной, без дублирования информации.</p>
        
        <table class="table">
            <thead>
                <tr>
                    <th class="table__cell-flex">Название</th>
                    <th class="table__cell-flex">Материал</th>
                    <th class="table__cell-flex">Размер</th>
                    <th class="table__cell-flex">Цена</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Название" class="table__cell-flex"><span class="table__cell-flex_name">Стеновой паркет</span></td>
                    <td data-label="Материал" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-flex_name">Ольха</span></div></td>
                    <td data-label="Размер" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-length">13 х 78 х 300</span></div></td>
                    <td data-label="Цена" class="table__cell-price"><span class="table__cell-rub">52</span><a class="table__button" href="#">В корзину</a></td>
                    </td>
                    
                </tr>
                <tr>
                    <td data-label="Название" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-flex_name">Стеновой паркет</span></div></td>
                    <td data-label="Материал" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-flex_name">Ольха</span></div></td>
                    <td data-label="Размер" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-length">13 х 78 х 600</span></div></td>
                    <td data-label="Цена" class="table__cell-price"><span class="table__cell-rub">112</span><a class="table__button" href="#">В корзину</a></td>
                    </td>
                    
                </tr>
                <tr>
                    <td data-label="Название" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-flex_name">Доска для пола, сорт А</span></div></td>
                    <td data-label="Материал" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-flex_name">Лиственница</span></div></td>
                    <td data-label="Размер" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-length">27 х 134 х 2000</span></div></td>
                    <td data-label="Цена" class="table__cell-price"><span class="table__cell-rub">1062</span><a class="table__button" href="#">В корзину</a></td>
                    </td>
                    
                </tr>
                <tr>
                    <td data-label="Название" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-flex_name">Вагонка</span></div></td>
                    <td data-label="Материал" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-flex_name">Термо-абаш</span></div></td>
                    <td data-label="Размер" class="table__cell-flex"><div class="table__cell-flex"><span class="table__cell-length">19 х 90 х 2000</span></div></td>
                    <td data-label="Цена" class="table__cell-price"><span class="table__cell-rub">1009</span><a class="table__button" href="#">В корзину</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>