<div class="title">
    <h1 class="title__text">Тестовое задание</h1>
</div>

<section class="section">
    <h2 class="section__title">Таблица</h2>
    <p class="section__text">Должна быть адаптивной, без дублирования информации.</p>
   
    <table class="table desktop">
        <thead>
            <tr>
                <th>Название</th>
                <th>Материал</th>
                <th>Размер</th>
                <th class="price">Цена</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Название">Стеновой паркет</td>
                <td data-label="Материал">Ольха</td>
                <td data-label="Размер" class="length">13 х 78 х 300</td>
                <td data-label="Цена" class="rub">52</td>
                <td><a class="table__button" href="#">В корзину</a></td>
            </tr>
            <tr>
                <td data-label="Название">Стеновой паркет</td>
                <td data-label="Материал">Ольха</td>
                <td data-label="Размер" class="length">13 х 78 х 600</td>
                <td data-label="Цена" class="rub">112</td>
                <td><a class="table__button" href="#">В корзину</a></td>
            </tr>
            <tr>
                <td data-label="Название">Доска для пола, сорт А</td>
                <td data-label="Материал">Лиственница</td>
                <td data-label="Размер" class="length">27 х 134 х 2000</td>
                <td data-label="Цена" class="rub">1062</td>
                <td><a class="table__button" href="#">В корзину</a></td>
            </tr>
            <tr style="border-bottom: 1px solid #ddd;">
                <td data-label="Название">Вагонка</td>
                <td data-label="Материал">Термо-абаш</td>
                <td data-label="Размер"><span class="length">19 х 90 х 2000</span></td>
                <td data-label="Цена" class="rub">1009</td>
                <td><a class="table__button" href="#">В корзину</a></td>
            </tr>
        </tbody>
    </table>

    <table class="table mobile">
        <thead>
            <tr>
                <th>Название</th>
                <th>Материал</th>
                <th>Размер</th>
                <th class="price">Цена</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-label="Название" class="other__cell"><div class="other__cell"><span class="other__cell_name">Стеновой паркет</span></div></td>
                <td data-label="Материал" class="other__cell"><div class="other__cell"><span class="other__cell_name">Ольха</span></div></td>
                <td data-label="Размер" class="other__cell"><div class="other__cell"><span class="length">13 х 78 х 300</span></div></td>
                <td data-label="Цена" class="price__cell">
                    <div class="other__cell "><span class="rub">52</span><a class="table__button table__button_mr20px" href="#">В корзину</a></div></td>
                </td>
                
            </tr>
            <tr>
                <td data-label="Название" class="other__cell"><div class="other__cell"><span class="other__cell_name">Стеновой паркет</span></div></td>
                <td data-label="Материал" class="other__cell"><div class="other__cell"><span class="other__cell_name">Ольха</span></div></td>
                <td data-label="Размер" class="other__cell"><div class="other__cell"><span class="length">13 х 78 х 600</span></div></td>
                <td data-label="Цена" class="price__cell">
                    <div class="other__cell"><span class="rub">112</span><a class="table__button table__button_mr20px" href="#">В корзину</a></div></td>
                </td>
                
            </tr>
            <tr>
                <td data-label="Название" class="other__cell"><div class="other__cell"><span class="other__cell_name">Доска для пола, сорт А</span></div></td>
                <td data-label="Материал" class="other__cell"><div class="other__cell"><span class="other__cell_name">Лиственница</span></div></td>
                <td data-label="Размер" class="other__cell"><div class="other__cell"><span class="length">27 х 134 х 2000</span></div></td>
                <td data-label="Цена" class="price__cell">
                    <div class="other__cell"><span class="rub">1062</span><a class="table__button table__button_mr20px" href="#">В корзину</a></div></td>
                </td>
                
            </tr>
            <tr>
                <td data-label="Название" class="other__cell"><div class="other__cell"><span class="other__cell_name">Вагонка</span></div></td>
                <td data-label="Материал" class="other__cell"><div class="other__cell"><span class="other__cell_name">Термо-абаш</span></div></td>
                <td data-label="Размер" class="other__cell"><div class="other__cell"><span class="length">19 х 90 х 2000</span></div></td>
                <td data-label="Цена" class="price__cell">
                    <div class="other__cell"><span class="rub">1009</span><a class="table__button table__button_mr20px" href="#">В корзину</a></div></td>
            </tr>
        </tbody>
    </table>
</section>