.order-wrapper {

    &_text {
        padding-bottom: 64px;
    }
}

    .order {
        padding: 96px;
        background: #F5F5F5;
        border-radius: 20px;
        margin: 0 auto;
        max-width: 842px;
    
        &__title {
            padding-bottom: 42px;
        }
    
        &__row {
            padding-bottom: 38px;
    
            &_contacts {
                display: grid;
                grid-template-columns: 222px 1fr;
                gap: 31px;
                }

            &_control {
                display: grid;
                grid-template-columns: 222px 1fr 1fr;
                gap: 31px;
                align-items: end;
            }

            &_password-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 32px;
            }
            }

        &__submit {
            border: none;
            padding: 15px 28px;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            letter-spacing: 1.2px;
            font-size: 14px;
            width: 192px;
            background-color: #0066CC;
            color: #fff;

            &:hover {
                background-color: #0080ff;
            }

            &:active {
                background-color: #0c447d;
            }
        }
    }

.field {

    &__label {
        padding-bottom: 7px;
        font-weight: 600;
        display: block;
    }

    &__content {
        position: relative;
    }

    &__indicator {
        transition: 1s;
        position: absolute;
        top: 0;
        padding: 0 20px;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        right: 0;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
    }

    &__indicator svg {
        display: none;
    }

    &__control.field__control_error + &__indicator .indicator__error {
        display: block;
    }

    &__control_error {
        border: 1px solid red;
    }

    &__control_success {
        border: 1px solid green;
    }

    &__control.field__control_valid + &__indicator .indicator__success {
        display: block;
    }
}

/* Buttons */

.checkbox {
    height: 56px;
    display: flex;
    align-items: center;

    .checkbox-ios {
        display: flex;
        height: 28px;
        gap: 12px;
        line-height: 28px;
        position: relative;
        font-size: 14px;
        user-select: none;

        &::after {
            font-size: 16px;
            padding-left: 7px;
            content: 'Вайтбокс';
        }

        & .checkbox-ios-switch {
            position: relative;	
            display: inline-block;
            box-sizing: border-box;			
            width: 44px;
            height: 24px;
            border-radius: 25%/50%;	
            vertical-align: top;
            background: #eee;
            transition: .2s;

            &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: white;
                transition: .15s;
            }
        }

        & input[type=checkbox] {
            display: block;	
            width: 0;
            height: 0;	
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:not(:disabled):active + .checkbox-ios-switch:before {
                box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
            }

            &:checked + .checkbox-ios-switch {
                background: #0066CC;
            }
        }
    }
    
    .checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
        transform: translateX(20px);
    }
    
    /* Hover */
    .checkbox-ios input[type="checkbox"]:not(:disabled) + .checkbox-ios-switch {
        cursor: pointer;
        border-color: rgba(0, 0, 0, .3);
    }
    
    /* Disabled */
    .checkbox-ios input[type=checkbox]:disabled + .checkbox-ios-switch {
        filter: grayscale(70%);
        border-color: rgba(0, 0, 0, .1);
    }
    .checkbox-ios input[type=checkbox]:disabled + .checkbox-ios-switch:before {
        background: #eee;
    }
    
    /* Focus */
    .checkbox-ios.focused .checkbox-ios-switch:before {
        box-shadow: inset 0px 0px 4px #ff5623;
    }
}

.number {
        position: relative;
        min-width: 224px;
        height: 56px;
    
    &-minus {
        transition: .3s;
        position: absolute;
        top: 0;
        width: 56px;
        height: 56px;
        line-height: 32px;
        display: block;
        padding: 13px;
        background: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: var(--primary);
        text-decoration: none;
        padding-top: 5px;
        left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid #ddd;

        .svg-min {
            stroke: #0066CC;
        }
        
        &:active {
            background: #e8e4e2;
        }
    
        &:hover {
            transition: .2s;
            color: #fff;
            background-color: #0066CC;
            border: 1px solid #0066CC;

            .svg-min {
                stroke: #fff;
            }

            }
    }
    
    &-plus {
        transition: .3s;
        position: absolute;
        top: 0;
        width: 56px;
        height: 56px;
        line-height: 32px;
        display: block;
        padding: 13px;
        background: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: var(--primary);
        text-decoration: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        right: 0;
        border: 1px solid #ddd;

        .svg-plus {
            stroke: #0066CC;
        }
        
        &:active {
            background: #e8e4e2;
        }
    
        &:hover {
            transition: .2s;
            color: #fff;
            background-color: #0066CC;
            // background-color: $primary-color;
            border: 1px solid #0066CC;

            .svg-plus {
                stroke: #fff;
            }
}
    }

    &-text {
        border-radius: 4px;
        display: inline-block;
        font-size: 16px;
        color: #000;
        line-height: 32px;
        height: 56px;
        padding: 0;
        background: #fff;
        outline: none;
        border: none;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        min-width: 112px;
        text-align: center;
    }
    
}

.attach {
    
    &__form {
        border: 1px dashed #B9B1B1;
        border-radius: 4px;
        color: #58585D;
    }

    &__title {
        font-size: 16px;
        padding: 28px 143px;
        text-align: center;
        line-height: 1.5;
    }

    &__content {
        display: flex;
        padding-top: 22px;
        align-items: center;

        &_name {
            font-size: 14px;
            flex-grow: 40;
        }

        &_delete {
            display: flex;
            align-self: center;
            flex-grow: 1;
        }
    }
}

.wrapper {
    position: absolute;
    width: 100%;
	margin: 0 auto;
    bottom: -33px;
    text-align: center;

    .legend {

        &__label {
            font-size: 12px;
            display: inline-block;
            text-align: center;
        
            &:first-child {
                text-align:left;
            }
        
            &:last-child {
                text-align:right;
            }
        }
    }

    .ui-slider {

        &-handle {
            margin-top: -3px;
            margin-left: -8px;
            outline: none;
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            cursor: pointer;
            -ms-touch-action: none;
            touch-action: none;
            }

        &-horizontal {
            height: 0;
            }
    }
    
    .ui-widget.ui-widget-content {
        border: 0px solid #c5c5c5;
        }
}

.select {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    position: relative;

    &__item {
        cursor: pointer;
        background: #fff;
        position: relative;
        padding: 16px;
        line-height: 24px;
        border: 1px solid #E1E1E1;
        border-width: 0px 1px 1px;

        &:hover {
            background-color: #f7f6f6;
            color: #0066CC;
        }

        &.select__item_base {
            border: 1px solid #E1E1E1;
            border-radius: 4px;
        }

        &:last-child{
            border-radius: 0 0 4px 4px;
        } 
    }

    &__options{
        position: absolute;
        display: none;
        width: 100%;

        .select__item {

            &:hover {
                background-color: #f7f6f6;
                color: #0066CC;
            }
        }
    }

    &__button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 0 16px;
        display: flex;
        align-items: center;
        transition: .4s;
    }
}

.select_open {

    .select__options{
        display: block;
        z-index: 5;
    }

    .select__button{
        transform: rotate(180deg);
    }

    .select__item.select__item_base{
        border-radius: 4px 4px 0 0;
        }

}

.password {
    position: relative;

    &__button {
        position: absolute;
        top: 0;
        padding: 0 20px;
        bottom: 0;
        cursor: pointer;
        margin: auto;
        display: flex;
        align-items: center;
        right: 0;
    }
}

.tags {
    padding-top: 16px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    &__item {
        transition: .5s;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        color: #fff;
        text-align: left;
        height: 32px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 7px 16px 9px;
        gap: 4px;
        background-color: #58585D;
        border-radius: 50px;
    }

    &__delete {
        cursor: pointer;
    }
}

.mobile {
    display: none;
}

@media (max-width: 768px) {

    .order {
        padding: 41px 32px;
        border-radius: 0;
        max-width: 842px;
    
        &__row {

            .attach {
                &__title {
                    padding: 28px 32px;
                }

                &__content {

                    &_name {
                        line-height: 1;
                    }
                }
            }

            &_text {
                padding-bottom: 64px;
            }

            &_contacts {
                display: block;
            }
        
            &_password-content {
                padding-bottom: 0;
                display: block;
            }

            &_control {
                padding-bottom: 0px;
                display: block;

                & .checkbox-mobile {
                    padding-top: 31px;
                    display: flex;
                    align-content: space-around;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .field:first-child {
                    padding-bottom: 24px;
                }
            }

            &_submit-center {
                text-align: center;
            }
            
        }
    }
}

.number {
    width: 100%;
    display: flex;

    &-text {
        display: block;
        max-width: 100%;
        margin: 0;
    } 
}

