    .order {
        padding: 80px 96px 96px;
        background: #F5F5F7;
        border-radius: 20px;
        margin: 0 auto;
    
        &__title {
            padding-bottom: 47px;
        }
    
        &__row {
            padding-bottom: 38px;
    
            &_contacts {
                display: grid;
                grid-template-columns: 222px 1fr;
                gap: 31px;
                }

            &_control {
                display: grid;
                grid-template-columns: 222px 1fr 1fr;
                gap: 31px;
                align-items: end;
                padding-bottom: 63px;

                .price {
                    text-align: center;
                }
            }

            &_password-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 32px;
            }
            }

        &__submit {
            border: none;
            padding: 15px 28px;
            cursor: pointer;
            text-align: center;
            border-radius: 4px;
            letter-spacing: 1.2px;
            font-size: 14px;
            width: 192px;
            background-color: #0066CC;
            color: #fff;

            &:hover {
                background-color: #0080ff;
            }

            &:active {
                background-color: #0c447d;
            }
        }
    }

.field {

    &__label {
        padding-bottom: 10px;
        line-height: 24px;
        font-weight: 600;
        display: block;
    }

    &__content {
        position: relative;
    }

    &__indicator {
        transition: 1s;
        position: absolute;
        top: 0;
        padding: 0 20px;
        bottom: 0;
        margin: auto;
        display: flex;
        align-items: center;
        right: 0;

        svg {
            display: none;
        }
    }

    &__control.field__control_error + &__indicator .indicator__error {
        display: block;
    }

    &__control_error {
        border: 1px solid red;
    }

    &__control_success {
        border: 1px solid green;
    }

    &__control.field__control_valid + &__indicator .indicator__success {
        display: block;
    }
}

/* Buttons */

.checkbox {
    height: 56px;
    display: flex;
    align-items: center;

    &-ios {
        display: flex;
        height: 28px;
        gap: 12px;
        line-height: 28px;
        position: relative;
        font-size: 14px;
        user-select: none;

        &::after {
            font-size: 16px;
            padding-left: 7px;
            content: 'Вайтбокс';
        }

        & .checkbox-ios-switch {
            transition: .5s;
            position: relative;	
            display: inline-block;
            box-sizing: border-box;			
            width: 44px;
            height: 24px;
            border-radius: 25%/50%;	
            vertical-align: top;
            background: #eee;
            transition: .2s;

            &:hover {
                transition: .5s;
                background: #06c;
            }

            &:before {
                content: '';
                position: absolute;
                top: 2px;
                left: 2px;
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                cursor: pointer;
                background: white;
                transition: .5s;
            }
        }

        & input[type=checkbox] {
            display: block;	
            width: 0;
            height: 0;	
            position: absolute;
            z-index: -1;
            opacity: 0;

            &:not(:disabled):active + .checkbox-ios-switch:before {
                box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
            }

            &:checked + .checkbox-ios-switch {
                background: #0066CC;
            }
        }

        input[type=checkbox]:checked + .checkbox-ios-switch:before {
            transform: translateX(20px);

        input[type="checkbox"]:not(:disabled) + .checkbox-ios-switch {
            cursor: pointer;
            border-color: rgba(0, 0, 0, .3);
        }

        input[type=checkbox]:disabled + .checkbox-ios-switch {
            filter: grayscale(70%);
            border-color: rgba(0, 0, 0, .1);
        }

        input[type=checkbox]:disabled + .checkbox-ios-switch:before {
            background: #eee;
        }

        }
    }

}

.number {
    position: relative;
    min-width: 224px;
    height: 56px;
    
    &__minus {
        transition: .3s;
        position: absolute;
        top: 0;
        width: 56px;
        height: 56px;
        line-height: 32px;
        display: block;
        padding: 13px;
        background: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        padding-top: 5px;
        left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border: 1px solid #ddd;

        .svg-min {
            stroke: #0066CC;
        }
        
        &:active {
            background: #e8e4e2;
        }
    
        &:hover {
            transition: .2s;
            color: #fff;
            background-color: #0066CC;
            border: 1px solid #0066CC;

            .svg-min {
                stroke: #fff;
            }

            }
    }
    
    &__plus {
        transition: .3s;
        position: absolute;
        top: 0;
        width: 56px;
        height: 56px;
        line-height: 32px;
        display: block;
        padding: 13px;
        background: #fff;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        right: 0;
        border: 1px solid #ddd;

        .svg-plus {
            stroke: #0066CC;
        }
        
        &:active {
            background: #e8e4e2;
        }
    
        &:hover {
            transition: .2s;
            color: #fff;
            background-color: #0066CC;
            border: 1px solid #0066CC;

            .svg-plus {
                stroke: #fff;
            }
}
    }

    &__text {
        border-radius: 4px;
        display: inline-block;
        font-size: 16px;
        color: #000;
        line-height: 32px;
        height: 56px;
        padding: 0;
        background: #fff;
        outline: none;
        border: none;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #ddd;
        min-width: 112px;
        text-align: center;
    }
    
}

.attach {
    
    &__form {
        border: 1px dashed #B9B1B1;
        border-radius: 4px;
        color: #58585D;
    }

    &__input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        position: absolute;
        z-index: -10;
    }

    &__title {
        transition: .7s;
        font-size: 16px;
        padding: 28px 143px;
        text-align: center;
        line-height: 1.5;

        label {
            font-weight: bold;
    
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        &.dragover {
            border-radius: 4px;
            transform: scale(1.05, 1.15);
            opacity: .8;
            transition: .7s;
            color: #fff;
            background: #1A2980;
            box-shadow: 10px 8px 20px rgba(0, 0, 0, 0.265);
            background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);
            background: linear-gradient(to right, #26D0CE, #1A2980);
}
    }

    &__content {
        padding-top: 5px;
        transition: .5s;
        display: flex;
        align-items: center;

        &_name {
            font-size: 14px;
            flex-grow: 40;
        }

        &_delete {
            cursor: pointer;
            display: flex;
            align-self: center;
            flex-grow: 1;
        }

        &_progress {
            height: 4px;
        }
    }
}

.wrapper-scale {

    .ui-slider {

        &-handle {
            margin-top: -2px;
            margin-left: -8px;
            outline: none;
            position: absolute;
            z-index: 2;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            cursor: pointer;
            -ms-touch-action: none;
            touch-action: none;
            border: 1px solid #06c;
            background: #06c;
            }

        &-horizontal {
            height: 0px;
            background-color: #c5c5c5;
            }

        &-range-min {
            height: 3px;
            background-color: #06c;
        }
}
    .ui-widget.ui-widget-content {
        border: 0px solid #c5c5c5;
    }

    .slider-scale {
        padding-left: 2%;
        padding-right: 4%;
        top: 12px;
        line-height: 12px;
        font-size: 12px;
        color: #58585D;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }
    .slider-scale_tick {
        position: relative;
    }
    
    .slider-scale_tick:after {
        top: 10px;
        counter-increment: section;
        content: attr(data-label);
        transform: translateX(-50%);
        text-align: center;
        position: absolute;
    }
}

.select {
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    position: relative;

    &__item {
        cursor: pointer;
        background: #fff;
        position: relative;
        padding: 16px;
        line-height: 24px;
        border: 1px solid #E1E1E1;
        border-width: 0px 1px 1px;

        &:hover {
            background-color: #f7f6f6;
            color: #0066CC;
        }

        &.select__item_base {
            border: 1px solid #E1E1E1;
            border-radius: 4px;
        }

        &:last-child{
            border-radius: 0 0 4px 4px;
        } 
    }

    &__options {
        position: absolute;
        display: none;
        width: 100%;

        .select__item {

            &:hover {
                background-color: #f7f6f6;
                color: #0066CC;
            }
        }
    }

    &__button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding: 0 16px;
        display: flex;
        align-items: center;
        transition: .4s;
    }
}

.select_open {

    .select__options{
        display: block;
        z-index: 5;
    }

    .select__button{
        transform: rotate(180deg);
    }

    .select__item.select__item_base{
        border-radius: 4px 4px 0 0;
        }

}

.password {
    position: relative;

    &__button {
        position: absolute;
        top: 0;
        padding: 0 20px;
        bottom: 0;
        cursor: pointer;
        margin: auto;
        display: flex;
        align-items: center;
        right: 0;
    }
}

.tags {
    padding-top: 16px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    &__item {
        transition: .5s;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        color: #fff;
        text-align: left;
        height: 32px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 7px 16px 9px;
        gap: 4px;
        background-color: #58585D;
        border-radius: 50px;
    }

    &__delete {
        cursor: pointer;

        &:hover {
            background-color: #0066CC;
        }
    }
}





@media (max-width: 768px) {

    .order {
        padding: 41px 32px;
        border-radius: 0;
        max-width: 842px;
    
        &__title {
            padding-bottom: 38px;
        }

        &__row {

            &_name {
                padding-bottom: 22px;
            }

            .attach {
                &__title {
                    padding: 28px 32px;
                }

                &__content {

                    &_name {
                        line-height: 1;
                    }
                }
            }

            &_text {
                padding-bottom: 64px;
            }

            &_contacts {
                display: block;

                .field:first-child {
                    padding-bottom: 20px;
                }
            }
        
            &_password-content {
                padding-bottom: 0;
                display: block;

                .field:first-child {
                    padding-bottom: 22px;
                }

                .field:last-child {
                    padding-bottom: 22px;
                }
            }

            &_control {
                padding-bottom: 0px;
                display: block;

                .checkbox {
                    display: flex;
                    align-content: space-around;
                    justify-content: space-between;
                    align-items: center;
                }
                
                .field:first-child {
                    padding-bottom: 47px;
                }

                .field:nth-child(2) {
                    padding-bottom: 31px;
                }

                .field:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 22px;
                }
            }

            &_submit-center {
                text-align: center;
            }
            
        }
    }
}

.number {
    width: 100%;
    display: flex;

    &__text {
        display: block;
        max-width: 100%;
        margin: 0;
    } 
}

