.title {
    max-width: 884px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        padding-bottom: 64px;
    }
}

.table {
	width: 100%;
	border-collapse: collapse; 

    &__button {
        text-align: center;
        transition: .4s;
        font-size: 14px;
        font-weight: 600;
        display: block;
        padding: 0 9px;
        text-decoration: none;
        color: #0066CC;;
        line-height: 32px;
        white-space: nowrap;
        background: rgba(0, 102, 204, 0.1);
        border-radius: 4px;
    
        &:hover {
            transition: .4s;
            color: #fff;
            background: rgba(0, 102, 204);
    }
    
        &_mr20px {
            margin-right: 20px;
        }     
    }

    th {
        text-align: left;
        font-weight: bold;
        padding: 10px 20px;
        padding-left: 30px;
        background: #efefef;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 7px 20px;
        padding-left: 33px;

        &:last-child {
            padding-right: 10px;
        }
    }
    
}

.rub {
    text-align: right;

    &::after {
        content: '₽';
        margin-left: 2px;
    }
}

.length::after {
    content: 'мм';
    margin-left: 2px;
}

.price {
    padding-left: 0px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    &__cell {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {

    .other__cell {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        align-items: center;

        &_name {
            padding-left: 10px;
        }
    }
    
    .price__cell {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
    
    table {
        border: 0;

        thead {
            display: none;
        }

        tr {
            margin-bottom: 16px;
            display: block;
            border-bottom: 2px solid #ddd;

            .button {
                margin: 0px;
            }
        }

        td {
            display: block;
            text-align: right;
            font-size: 13px;
            border: 0;

            &:last-child {
                border-bottom: 0;
            }

            &::before {
                flex-grow: 0;
                background-color: #F5F5F7;
                width: 80px;
                text-align: left;
                content: attr(data-label);
                float: left;
                padding: 10px;
                padding-left: 10px;
                font-weight: bold;
            }
        }
    }
    
    .table {

        td {    
            margin: 0px auto;
            padding: 0px;
        }

            &__button {
        
            &_mr20px {
                margin-right: 20px;
            }     
        }
    }

    .rub,
    .length {
        padding-left: 10px;
        flex-grow: 0;
    }
}