.table-wrapper {
    padding-bottom: 104px;
}

.table {
	width: 100%;
	border-collapse: collapse; 

    &__button {
        text-align: center;
        transition: .4s;
        font-size: 14px;
        font-weight: 600;
        display: block;
        padding: 3px 16px 5px;
        text-decoration: none;
        color: #0066CC;;
        line-height: 32px;
        white-space: nowrap;
        background: rgba(0, 102, 204, 0.1);
        border-radius: 4px;
    
        &:hover {
            transition: .4s;
            color: #fff;
            background: rgba(0, 102, 204);
    }
    }

    &__cell-price {
        display: flex;
        justify-content: space-between;
    }

    &__cell-length {

        &::after {
            content: 'мм';
            margin-left: 2px;
        }
    }

    &__cell-rub {
    
        &::after {
            content: '₽';
            margin-left: 2px;
        }
    }

    th {
        text-align: left;
        font-weight: bold;
        padding: 10px 20px;
        padding-left: 30px;
        background: #efefef;
    }

    tr {
        border-bottom: 1px solid #ddd;
    }

    td {
        padding: 16px 20px 16px 28px;
    }
    
}

@media (max-width: 600px) {

    .table-wrapper {
        padding-bottom: 60px;
    }

    .table {

        td {    
            padding: 0px;
        }

        &__cell-flex {
            display: flex;
            flex-grow: 1;
            align-items: center;
    
            &_name {
                padding-left: 10px;
            }
        }

        &__cell-price {
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: space-between;
        }

        &__cell-length {
            padding-left: 10px;
        }

        &__cell-rub {
            position: absolute;
            left: 122px;
        }
    }

    table {
        border: 0;

        thead {
            display: none;
        }

        tr {
            margin-bottom: 16px;
            display: block;
            border-bottom: 2px solid #ddd;

            .button {
                margin: 0px;
            }
        }

        td {
            display: block;
            text-align: right;
            font-size: 13px;
            border: 0;


            &::before {
                flex-grow: 0;
                background-color: #F5F5F7;
                width: 80px;
                text-align: left;
                content: attr(data-label);
                float: left;
                padding: 10px;
                padding-left: 10px;
                font-weight: bold;
            }
        }
    }
}